            </div>
        </div>
    </div>
</div>
<div id="footer-wrap">
    <div class="footer">
        <div id="magento-com">
            <div class="intro-paragraph">
                <div class="container">
                    <a href="http://www.magento.com/"><img src="{{ site.baseurl }}/theme/images/magento_logo_footer.svg"
                                                           alt="Magento an ebay inc company"/></a>
                    <h3>eCommerce platform, solutions and services<br/> to help grow your business.</h3>
                </div>
            </div>
            <div class="container">
                <div id="f-col-1">
                    <h4>Learn more</h4>
                    <ul class="nav" style="margin-bottom: 40px;">
                        <li><a href="http://magento.com/company/about-us" title="Company">Company</a></li>
                        <li><a href="http://magento.com/company/careers" title="Careers">Careers</a></li>
                        <li><a href="http://magento.com/company/press-room" title="Press Room">Press Room</a></li>
                    </ul>
                </div>
                <div id="f-col-2">
                    <div id="social-network">
                        <h4>Find us on</h4>
                        <ul>
                            <li><a class="btn-facebook" target="_blank" href="http://www.facebook.com/magento">Magento
                                Facebook</a>
                            </li>
                            <li><a class="btn-twitter" target="_blank" href="https://twitter.com/magento">Magento
                                Twitter</a></li>
                            <li><a class="btn-lnkdn" target="_blank"
                                   href="http://www.linkedin.com/groups?home=&amp;gid=146360&amp;trk=anet_ug_hm">Magento
                                Linkedin</a></li>
                            <li><a class="btn-gplus" target="_blank" href="https://plus.google.com/+magento/posts">Magento
                                Google+</a></li>
                            <li><a class="btn-youtube" target="_blank"
                                   href="http://www.youtube.com/user/magentocommerce/featured">Magento
                                Youtube</a></li>
                        </ul>
                    </div>
                </div>
                <div id="f-col-3">
                    <div id="newsletter">
                        <h4>GET THE LATEST NEWS</h4>
                        <p>See Magento in the news, find press<br/> releases and resources for media.</p>
                        <div class="hold-form">
                            <div id="nws-notsubscribed">
                                <div id="sb-email" class="sb-email">
                                    <form method="post" enctype="application/x-www-form-urlencoded"
                                          action="//info2.magento.com/index.php/leadCapture/save" id="mktForm_1182"
                                          class="mktform"
                                          name="mktForm_1182" onsubmit="return validateForm();">
                                        <input class="fValidate['email'] input-topbg sb-email-input" name="Email"
                                               id="Email"
                                               placeholder="Email Address">
                                        <input type="hidden" name="formid" value="1182"/>
                                        <button type="submit" class="sb-icon-submit btn outline">
                                            Submit
                                        </button>
          <span class="sb-icon-email btn outline">
              Sign Up
          </span>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="email-invalid hide">
                            <p>Please submit a valid email.</p>
                        </div>
                        <div class="email-ty hide">
                            <p>Thank you for submitting your email.</p>
                        </div>
                    </div>
                </div>
                <div id="f-col-4">
                    <div class="contact-us">
                        <h4>Get in touch</h4>
                        <p>We'd like to hear from you! Call us, <br/>send us an email or talk to sales.</p>
                        <a href="http://magento.com/company/contact-us" class="btn btn-outline">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="copyright">
        <div class="container">
            <div class="copyright-links">
                <ul class="nav">
                    <li><a title="Privacy Policy" href="http://magento.com/legal/terms/privacy">Privacy Policy</a></li>
                    <li><a title="Terms of Service" href="http://magento.com/legal/terms">Terms of Service</a></li>
                    <li><a title="License/Trademark FAQ" href="http://magento.com/legal/licensing">License/Trademark
                        FAQ</a></li>
                </ul>
            </div>
            <div class="copyright-date">&copy; {{ site.time | date: '%Y' }} Magento, Inc. All rights reserved.</div>
        </div>
    </div>
</body>
</html>
