<div id="subnav-wrap" class="nav-main">
   <div id="subnav">
      <ul class="menu nav">
         <li class="first">
            <a href="#">Integration</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="{{ site.baseurl }}/integration">Overview</a></li>
               <li class="leaf"><a href="{{ site.baseurl }}/integration/service-specification-language.html">Specification</a></li>
               <li class="leaf"><a href="{{ site.baseurl }}/integration/core-transport-bindings.html">Transport</a></li>
            </ul>
         </li>
      </ul>
   </div>
</div>
<div class="nav-main-fader"></div>
